{% extends "base/header.j2" %}
{% block content %}

typedef struct {
    int format;
    void *func;
    void *args;
} UnknownCall;

enum FORMAT {
{% for f in formats %}
    FORMAT_{{ f.types }},
{% endfor %}
};

{% for f in formats %}
typedef {{ f.return }} (*FUNC_{{ f.types }})({{ f.args|args }});
typedef struct {
    {% for arg in f.args %}
    {{ arg.type }} a{{ loop.index }};
    {% endfor %}
} ARGS_{{ f.types }};
typedef struct {
    int format;
    FUNC_{{ f.types }} func;
    ARGS_{{ f.types }} args;
} PACKED_{{ f.types }};
{% endfor %}

extern void glPushCall(void *data);
void glPackedCall(const UnknownCall *packed);
{% for func in functions %}
{{ func.return }} {{ func.name }}({{ func.args|args }});
{% endfor %}

{% for func in functions %}
#ifndef direct_{{ func.name }}
static inline void push_{{ func.name }}({{ func.args|args }}) {
    PACKED_{{ func.types }} *packed_data = malloc(sizeof(PACKED_{{ func.types }}));
    packed_data->format = FORMAT_{{ func.types }};
    packed_data->func = {{ func.name }};
    {% for arg in func.args %}
    packed_data->args.a{{ loop.index }} = {{ arg.name }};
    {% endfor %}
    glPushCall((void *)packed_data);
};
#endif
{% endfor %}

{% endblock %}
